/*Themes*/

.text {
  margin:10px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1em;
}


html,
body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Snipcart styling */
.snipcart * {
  font-size: 1.02em;
}
.snipcart-cart-summary__content {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.snipcart-form{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/*Nav styling */





.navContainer {
  display: flex;
  margin: 0px;
  width: 100vw;
  height: 90px;
  background-image:url("/images/nav.jpg") ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logo {
  width: 200px;
  height: 75px;
}





/*Cover styling */
.coverContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.cover {
  display: flex;
  background-image: url("/images/cover.png");
  width: 100vw;
  height: 270px;
  margin-top: 15px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.coverText {
  margin: auto;
  margin-bottom: 2vh;
  font-size: 1.5em;
  width: fit-content;
  height: fit-content;
  text-align: center;
  color: white;
}

.underCover {
  margin: 1vw;
}





/*About Styling*/

.aboutContainer{
  width: 100vw;
}
.aboutTextContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

.aboutText {
  width: 90vw;
  margin: 5vw;
}
.author {
  width: 350px;
  height: auto;
  margin: auto;
}

.test-card-hint p{
font-size: 25px;
}

@media (prefers-color-scheme: null) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
