/*Themes*/

.text {
  margin: 10px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'EB Garamond', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Snipcart styling*/
.snipcart * {
  font-size: 1.02em;
}
.snipcart-cart-summary__content {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.snipcart-form {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*Nav styling */
.links a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: min-content;
    color: #FFFF;
    height: fit-content;
    text-decoration: none;
    margin: auto auto auto auto;
}


.links li {
    margin: auto;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: min-content;
    color: #FFFF;
    font-size: 2.0em;
    height: fit-content;
    width: min-content;
    text-decoration: none;
    margin-right: 40px;
}

.mobileNav {
    display: none;
}
.mobileLinks {
    display: none;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  width: 100vw;
  height: 90px;
  background-image: url("/images/nav.jpg");
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navLogo {
  width: 200px;
  height: 75px;
  margin: auto 0 auto 0;
}

.links{
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
}

@media only screen and (max-width: 1200px) {


  .navContainer{
      display: none;
  }
  .mobileNav {
      position:absolute;
      width: 95vw;
      display: flex;
      height: 100px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 1px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 1px 0px;
      justify-content: space-between;
    }
  

  .mobileNavContainer {
      display: flex;
      position: fixed;
      flex-direction: column;
      width: 100vw;
      max-width: 100%;
      height:100px ;
      background-image: url("/images/nav.jpg");
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    z-index: 9999;
      margin-bottom: 20px;
  }

  .mobileLinks {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: flex-start;
      width: 100vw;
      height: 100vh;
      flex-direction: row;
      margin-top: 100px;
      color: black;
      background-color: #FFFF;
  }

  .mobileLinks ul {
      display: flex;
      flex-direction: column;
      width: 90vw;
      padding: 0px;
      height: fit-content;
  }
  .mobileLinks li{
      margin: 30px auto 20px auto;

  }
  .mobileLinks a{
      text-decoration: none;
      cursor: pointer;
      color:#252525 ;
      font-size: 3em;
      height: min-content;
      margin: 30px auto 20px auto;
  }
}


/*Cover styling */
.coverContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.cover {
  display: flex;
  background-image: url("/images/cover.png");
  width: 100vw;
  height: 270px;
  margin-top: 15px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.coverText {
  margin: auto;
  margin-bottom: 2vh;
  font-size: 1.5em;
  width: fit-content;
  height: fit-content;
  text-align: center;
  color: white;
}

.underCover {
  margin: 1vw;
}

/*About Styling*/

.aboutContainer {
  width: 100vw;
}
.aboutTextContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

.aboutText {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 5vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.authTitle {
  font-size: 2em;
  
}
.author {
  width: 350px;
  height: auto;
  margin: auto;
}

.authorPhoto {
  width: 306px;
}
.apContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  
}

.test-card-hint p {
  font-size: 25px;
}
/* Footer styling*/

.footerContainer {
  width: 100vw;
  height: 365px;
  background-color:#411212;
  border-top:10px solid #6D0003;
}

.footerContainer img {
  margin: auto;
}

@media (prefers-color-scheme: null) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media only screen and (min-width: 1400px) {
  .snipcart * {
    font-size: 1.03em;
    
  }

  .underCover {
    margin: auto;
    width: 40vw;
  }

  .snipcart-form {
    font-size: 1.03em;
  }
  /*cover*/

  .cover {
    background-image: url("../public/images/coverDesktop.png");
    height: 750px;
  }

  .coverText {
    font-size: 3em;
    font-family: 'Cormorant', serif;

  }

  .aboutTextContainer {
    flex-direction: row;
    width: 60vw;
    margin: auto;
  }

  .aboutText {
    width: 40vw;
  }
}
